h1 {
    color : red;
}

.bookcover {
    height : 300px;
    width : auto;
}

.book-detail {
    margin: auto;
    width: 100%;
    text-align : center;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}